# Import Libraries & Load Dataset

### Imports

In [3]:
import pandas as pd
import calendar

### Load DataFrame

**Load DataFrame and store it in a variable called "df"**

In [4]:
#df = ...... read excel file using pandas
df = pd.read_excel('./data.xlsx')

**Inspect first 5 rows of the DataFrame**

In [9]:
# A particular function exists in pandas for this 
df.head()

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468
3,42,CA-2017-120999,2020-09-10,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,60540,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564
4,44,CA-2017-139619,2020-09-19,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,Florida,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616

# Explore Dataset

In [6]:
#Display Basic Info about DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         3312 non-null   int64
 1   Order ID       3312 non-null   object
 2   Order Date     3312 non-null   datetime64[ns]
 3   Ship Mode      3312 non-null   object
 4   Customer ID    3312 non-null   object
 5   Customer Name  3312 non-null   object
 6   Segment        3312 non-null   object
 7   Country        3312 non-null   object
 8   City           3312 non-null   object
 9   State          3312 non-null   object
 10  Postal Code    3312 non-null   int64
 11  Region         3312 non-null   object
 12  Product ID     3312 non-null   object
 13  Category       3312 non-null   object
 14  Sub-Category   3312 non-null   object
 15  Product Name   3312 non-null   object
 16  Sales          3312 non-null   float64
 17  Quantity       3312 non-null   int64
 18  Discount       3312 non-null   float64
 19  Profit         3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 517.6+ KB

In [7]:
# Describe Method
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000
mean,5087.107488,56186.515097,221.381418,3.766908,0.156467,28.212340
std,2817.482266,31980.375516,585.257531,2.221776,0.207429,241.864342
min,13.000000,1841.000000,0.444000,1.000000,0.000000,-3839.990400
25%,2655.750000,27978.750000,17.018000,2.000000,0.000000,1.763200
50%,5183.500000,60472.500000,53.810000,3.000000,0.200000,8.296800
75%,7498.250000,90032.000000,205.105700,5.000000,0.200000,28.315125
max,9994.000000,99301.000000,13999.960000,14.000000,0.800000,6719.980800

In [10]:
# Get a view of unique values in column, e.g. 'Ship Mode'
df['Ship Mode'].unique()

array(['Standard Class', 'Second Class', 'First Class', 'Same Day'],
      dtype=object)

In [39]:
# Get a count of Nan or none values for each column
df.count()

Row ID           3312
Order ID         3312
Order Date       3312
Ship Mode        3312
Customer ID      3312
Customer Name    3312
Segment          3312
Country          3312
City             3312
State            3312
Postal Code      3312
Region           3312
Product ID       3312
Category         3312
Sub-Category     3312
Product Name     3312
Sales            3312
Quantity         3312
Discount         3312
Profit           3312
Order Month      3312
Order Year       3312
dtype: int64

# Data Preperation & Analysis


- What was the highest Sale in 2020?
- What is average discount rate of charis?
- Add extra columns to seperate Year & Month from the Order Date
- Add a new column to calculate the Profit Margin for each sales record
- Create a new dataframe to reflect total Profit & Sales by Sub-Category

**What was the highest Sale?**

In [11]:
# Highest Sale
print("Highest Sale:", df['Sales'].max())
print("Information on Highest Sale: ")
df[df['Sales'] == df['Sales'].max()]

Highest Sale: 13999.96
Information on Highest Sale:

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2710,8154,CA-2017-140151,2020-03-23,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808

**What is average Discount of charis?**

In [15]:
# Create Boolean mask
mask = df['Sub-Category'] == 'Chairs'

# Use Boolean mask to filter dataframe
df_chairs = df[mask]
# Now from the filtered dataframe, find the mean discount using the mean function
df_chairs['Discount'].mean()

0.16736842105263158

**Add an extra column for "Order Month" & "Order Year"**

In [19]:
# To add a new column use the below format
#df['new column'] = table[]
df['Order Month'] = pd.DatetimeIndex(df['Order Date']).month
df['Order Year'] = pd.DatetimeIndex(df['Order Date']).year

df['Order Month'] = df['Order Month'].apply(lambda x: calendar.month_abbr[x])

**Add a new column to calculate the Profit Margin for each sales record**

#### Total Profit &Sales by Sub-Category

In [28]:
# Group By Sub-Category [SUM]
df_sub = df.groupby('Sub-Category')
df_sub[['Sub-Category','Sales','Profit']].sum()

C:\Users\Govind\AppData\Local\Temp\ipykernel_22104\1640806593.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_sub[['Sub-Category','Sales','Profit']].sum()

                    Sales      Profit
Sub-Category
Accessories    59946.2320  15672.3570
Appliances     42926.9320   7865.2683
Art             8863.0680   2221.9631
Binders        72788.0450   7669.7418
Bookcases      30024.2797   -583.6261
Chairs         95554.3530   7643.5493
Copiers        62899.3880  25031.7902
Envelopes       3378.5740   1441.7590
Fasteners        857.5940    304.9489
Furnishings    28915.0940   4099.1628
Labels          3861.2160   1744.6093
Machines       43544.6750  -2869.2156
Paper          27694.7180  12040.8434
Phones        105340.5160  12849.3250
Storage        69677.6180   7402.8007
Supplies       16049.4100   -955.3128
Tables         60893.5425  -8140.6947

In [27]:
# Print out head for this grouped out table
df_sub.head()

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Month,Order Year
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,...,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432,Apr,2020
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,...,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,Jul,2020
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,...,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468,Oct,2020
3,42,CA-2017-120999,2020-09-10,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,...,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564,Sep,2020
4,44,CA-2017-139619,2020-09-19,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,Florida,...,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616,Sep,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,1599,CA-2017-158876,2020-11-19,Second Class,AB-10150,Aimee Bixby,Consumer,United States,Carrollton,Texas,...,OFF-SU-10001165,Office Supplies,Supplies,Acme Elite Stainless Steel Scissors,6.672,1,0.2,0.5004,Nov,2020
507,1770,CA-2017-146024,2020-03-02,Standard Class,SC-20770,Stewart Carmichael,Corporate,United States,Dallas,Texas,...,OFF-SU-10001935,Office Supplies,Supplies,Staple remover,6.976,4,0.2,-1.3952,Mar,2020
720,2387,US-2017-117534,2020-03-25,First Class,CV-12295,Christina VanderZanden,Consumer,United States,Fresno,California,...,TEC-CO-10000971,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,479.984,2,0.2,59.9980,Mar,2020
810,2624,CA-2017-127180,2020-10-22,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,...,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888,Oct,2020
1060,3274,CA-2017-133865,2020-05-08,Standard Class,PS-19045,Penelope Sewall,Home Office,United States,Los Angeles,California,...,TEC-CO-10001046,Technology,Copiers,Canon Imageclass D680 Copier / Fax,3359.952,6,0.2,1049.9850,May,2020

# Fin.